*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    scroll-behavior: smooth;

}

:root {
    --primer :#ededed;
    --sekunder :#111111;
    --tersier : #FFCD29;

}

body {
    background: var(--sekunder);
    color: var(--primer);
    
}


.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    padding: 30px ;
}

.logo {
    font-size: 25px;
    color: var(--primer);
    text-decoration: none;
    font-weight: 600;
}

.navbar a {
    font-size: 25px;
    color: var(--primer);
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: 3s;
}

.navbar a:hover,
.navbar a.active {
    color: var(--tersier);
}

/*======================================# Beranda ================================================*/

#beranda {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
    
}

.beranda-content {
    max-width: 600px;
}

.beranda-content h1 {
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    font-weight: 700;
    
}

.beranda-content p {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    margin: 20px 0 40px 0;
}

.beranda-content .btn-box {
    height: 50px;
    width: 150px;
}

.btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 80%;
    background: transparent;
    border: 2px solid var(--tersier);
    border-radius: 10px;
    font-size: 16px;
    color: var(--tersier);
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 3px;
    z-index: 1;
    overflow: hidden;
    transition: 5s;
}
.btn-box a:hover {
    color: var(--primer);
}
.active, .btn:hover {
    color: white;
}

.btn-box a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background: var(--tersier);
    z-index: -1;
    transition: .5s;
}

.btn-box a:hover::before{
    width: 100%;
}

/* sosmed */
.sosmed {
    padding-top: 40px;
}
.sosmed a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    background: transparent;
    border-radius: 50%;
    font-size: 25px;
    color: var(--tersier);
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.sosmed a:hover {
    color: var(--primer);
}   

.sosmed a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background: var(--tersier);
    z-index: -1;
    transition: 5s;
}

.sosmed a:hover::before {
    width: 100%;
}

/*Foto pic /pfp */
.pfp img {
    width: 300px;
    padding: 30px;
    position: absolute 0 ;
    top: 50vh;
    right: 40vh;
    box-shadow: 0 0 10px var(--tersier);
    transition: 5s;
    float: left;
    margin: 70px;
}

.pfp img-responsif {
    max-width: 100%; 
    display:block; 
    height: auto;
}
.pfp img:hover {
    transform: scale(1.1);
}

footer {
    background-color: var(--sekunder);
    color: var(--primer);
    text-align: center;
    padding: 40px;
}
/*============================#Tentang ========================================*/
#tentang {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
    margin: 90px;
   

}

.tentang-content {
    max-width: 600px;
    

}

.tentang-content h2 {
    color: #666;
    margin-top: 50px;
    }
    
.tentang-content p {
    color: #ededed;
    line-height: 1.5;
    }
    
.tentang-content ul {
    list-style-type: disc;
    margin-left: 20px;
    color: #ededed ;
    }
    
.tentang-content li {
    margin-bottom: 10px;
    }
    
.tentang-content-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
    
  

/*========================== #layanan ========================================*/
#layanan {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;

}

.layanan-content {
    max-width: 600px;

}

.layanan-content h1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    font-weight: 700;

}

/*=========================== #kontak ===============================*/
#kontak{
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;

}

.kontak-content {
    max-width: 600px;

}

.kontak-content h1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    font-weight: 700;
}
/* sosmed */
.sosmed {
    padding-top: 40px;
}
.sosmed a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    background: transparent;
    border-radius: 50%;
    font-size: 25px;
    color: var(--tersier);
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.sosmed a:hover {
    color: var(--primer);
}   

.sosmed a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background: var(--tersier);
    z-index: -1;
    transition: 5s;
}

.sosmed a:hover::before {
    width: 100%;
}